@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	font-family: Roboto;
}

html {
	margin-top: 50px;
	background-color: #f9f9f9;
	scroll-behavior: smooth;
}
.navbar-brand.branding-logo {
	background-position: 15px center;
	background-size: 40px;
	background-repeat: no-repeat;
	text-indent: 44px;
}

.navbar-header .navbar-version {
	float: left;
    height: 50px;
    padding: 15px 15px 15px 0;
    font-size: 15px;
    line-height: 20px;
	color: #777;
}

.navbar-header .navbar-version:hover {
    text-decoration: none;
}

.main-content {
	padding-bottom: 200px;
}
.main-content h1,
.main-content h2 {
	border-bottom: 1px solid #eee;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 9px;
}
.main-content .primary p+h1,
.main-content .primary p+h2,
.main-content .readme-section p+h1,
.main-content .readme-section p+h2,
.main-content .tutorial-section p+h1,
.main-content .tutorial-section p+h2,
.main-content .related-tutorials h2 {
	margin-top: 40px;
}
footer {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	background-color: #f9f9f9;
	border-top: solid 1px #ddd;
	font-size: small;
	color: #777;
}
iframe.example {
    width: 100%;
    height: 32em;
    border-style: solid;
    border-color: #cc0000;
    border-width: 0.1em;
}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    word-break: break-word;
}

@media (min-width: 768px) {
	.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
		word-break: normal;
	}
}